<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my12306.mapper.LoginMapper">
    <!-- 这里namespace必须是Dao接口的路径” -->
    <select id="getuser" parameterType="users" resultType="users">
    	select * from ticket_users where username=#{username}
    </select>
    <insert id="insertUser"  parameterType="users">
    	insert into ticket_users values(#{username},#{passwd},#{userid})
    </insert>
</mapper>
