<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my12306.mapper.TicketsMapper">
    <select id="geTicketsById" resultType="com.my12306.po.ticket.Tickets">
    	select * from TICKET_TICKETS where id=#{id}
    </select>
    
    <select id="geTicketsByUserId" resultType="com.my12306.po.ticket.Tickets">
    	select * from TICKET_TICKETS where userId=#{userId}
    </select>
    
    <insert id="addTickets">
    	insert into TICKET_TICKETS values(#{userId},#{humanId},#{trainId},#{seat},#{road},#{id}) 
    </insert>
    
    <delete id="deleteTickets">
    	delete from TICKET_TICKETS where id=#{id}
    </delete>
    
    <update id="changeTrainId">
    	update TICKET_TICKETS set train_id=#{trainId} where id=#{id}
    </update>
    
</mapper>